<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cms>
            <pagebuilder_template_importexport>
                <enable>1</enable>
                <sync_templates_by_cron>0</sync_templates_by_cron>
            </pagebuilder_template_importexport>
        </cms>
    </default>
</config>
