<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageOS\PageBuilderTemplateImportExport\Api\TemplateManagementInterface" type="MageOS\PageBuilderTemplateImportExport\Model\TemplateManagement"/>
    <preference for="MageOS\PageBuilderTemplateImportExport\Api\RemoteStorageManagementInterface" type="MageOS\PageBuilderTemplateImportExport\Model\RemoteStorageManagement"/>
    <preference for="MageOS\PageBuilderTemplateImportExport\Api\Data\RemoteTemplateInterface" type="MageOS\PageBuilderTemplateImportExport\Model\RemoteTemplate"/>
    <preference for="MageOS\PageBuilderTemplateImportExport\Api\RemoteTemplateRepositoryInterface" type="MageOS\PageBuilderTemplateImportExport\Model\RemoteTemplateRepository"/>
    <preference for="MageOS\PageBuilderTemplateImportExport\Api\Data\RemoteCursorInterface" type="MageOS\PageBuilderTemplateImportExport\Model\RemoteCursor"/>
    <preference for="MageOS\PageBuilderTemplateImportExport\Api\RemoteCursorRepositoryInterface" type="MageOS\PageBuilderTemplateImportExport\Model\RemoteCursorRepository"/>
    <preference for="MageOS\PageBuilderTemplateImportExport\Api\DropboxInterface" type="MageOS\PageBuilderTemplateImportExport\Service\Dropbox"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="pageBuilderTemplateExport" xsi:type="object">MageOS\PageBuilderTemplateImportExport\Console\Command\ExportTemplate</item>
                <item name="pageBuilderTemplateImport" xsi:type="object">MageOS\PageBuilderTemplateImportExport\Console\Command\ImportTemplate</item>
                <item name="pageBuilderUpdateTemplateRemoteList" xsi:type="object">MageOS\PageBuilderTemplateImportExport\Console\Command\UpdateRemoteTemplateList</item>
            </argument>
        </arguments>
    </type>
    <type name="MageOS\PageBuilderTemplateImportExport\Api\RemoteTemplateRepositoryInterface">
        <arguments>
            <argument name="resource" xsi:type="object">MageOS\PageBuilderTemplateImportExport\Model\ResourceModel\RemoteTemplate</argument>
            <argument name="modelFactory" xsi:type="object">MageOS\PageBuilderTemplateImportExport\Api\Data\RemoteTemplateInterfaceFactory</argument>
            <argument name="collectionFactory" xsi:type="object">MageOS\PageBuilderTemplateImportExport\Model\ResourceModel\RemoteTemplate\CollectionFactory</argument>
            <argument name="searchResultsFactory" xsi:type="object">Magento\Framework\Api\SearchResultsInterfaceFactory</argument>
            <argument name="collectionProcessor" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessorInterface</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
               <item name="pagebuilder_remotetemplate_grid_data_source" xsi:type="string">MageOS\PageBuilderTemplateImportExport\Model\ResourceModel\RemoteTemplate\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="MageOS\PageBuilderTemplateImportExport\Model\ResourceModel\RemoteTemplate\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">remote_pagebuilder_template</argument>
            <argument name="eventPrefix" xsi:type="string">pagebuilder_remotetemplate_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">remotetemplate_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\PageBuilderTemplateImportExport\Model\ResourceModel\RemoteTemplate</argument>
        </arguments>
    </type>

    <!-- QUEUE RUNNER -->
    <type name="Magento\Framework\MessageQueue\ConsumerConfigurationInterface">
        <arguments>
            <argument name="consumerNames" xsi:type="array">
                <item name="pagebuildertemplateie.credential.create.consumer" xsi:type="string">pagebuildertemplateie.credential.create.consumer</item>
                <item name="pagebuildertemplateie.credential.delete.consumer" xsi:type="string">pagebuildertemplateie.credential.delete.consumer</item>
            </argument>
        </arguments>
    </type>
</config>
