<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cms">
            <tab>general</tab>
            <group id="pagebuilder_template_importexport" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Pagebuilder template import/export</label>
                <field id="enable" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sync_templates_by_cron" translate="label,comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sync remote templates by cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Synchronize remote templates from dropbox by cron (suggested for large number of templates on stored remotely).<br/>Be sure to have "pbTemplateImport" on your env.php consumer list (See module documentation).<br/><strong>Remember to update and save this config before new credentials creation.</strong>]]></comment>
                </field>
                <field id="dropbox_credentials" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20" translate="label,comment">
                    <label>Dropbox repositories</label>
                    <comment><![CDATA[<strong class="label">Add valid App key/App secret/App refresh token credentials provided from the Dropbox owner.</strong><br/>If you're the owner of the dropbox account you can generate the refresh token directly from the "Refresh Token Generator" section.<br/> To generate a refresh token click on "Generate and authorize refresh token", print the access token on the input and save the config.<br/> Refresh Token for the dropbox app will be generated automatically.]]></comment>
                    <frontend_model>MageOS\PageBuilderTemplateImportExport\Block\Adminhtml\Form\Field\DropboxAppCredentials</frontend_model>
                    <backend_model>MageOS\PageBuilderTemplateImportExport\Model\Config\Backend\ApiKeySerialized</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
